:root {
    /* colors */
    --color-primary: 35 83% 54%;
    --color-text: 207 10% 82%;
    --color-bg: 206 11% 12%;
    --color-bg-dark: 200 12% 10%;
    --color-bg-light: 210 11% 15%;

    /* borders & shadows */
    --border-thin: 1px solid hsl(var(--color-bg-dark));
    --border-regular: 1.5px solid hsl(var(--color-bg-dark));
    --border-bold: 2px solid hsl(var(--color-bg-dark));
    --shadow-2px: 2px 2px 0 0 hsl(var(--color-bg-dark));
    --shadow-3px: 3px 3px 0 0 hsl(var(--color-bg-dark));
    --shadow-4px: 4px 4px 0 0 hsl(var(--color-bg-dark));
    --shadow-5px: 5px 5px 0 0 hsl(var(--color-bg-dark));
    --shadow-6px: 6px 6px 0 0 hsl(var(--color-bg-dark));
    --shadow-8px: 8px 8px 0 0 hsl(var(--color-bg-dark));
    --radius: 2rem;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
scroll-behavior: smooth;
}

body {
    /*
    background: url('public/images/blob-right.svg'), url('public/images/blob-left.svg');
    */
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
textarea,
button {
    font: inherit;
}